/*MOBILE SCREEN-------------------------------------------*/
/*GLOBAL STYLES-------------------------------------------*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
}

h1{
    font-size: 24px;
    color: #A80000;
}

h2{
    font-size: 18px;
    color: #A80000;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 12px;
}

a{
    color: #A80000;
    /* 500 = medium */
    font-weight: 500;
}

a:hover {
    color: #710000;
}

img{
    /* just so the image doesn't take up the whole screen for now */
    /* width: 200px; */
    /* max-width: 100%; */
}

/*SKIP*/
.skip {
    position: absolute;
    top: -40px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: relative;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 40px;
}

*:focus{
    outline: 2px solid black;
}


/*GRID*/
.grid{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-row-gap: 50px;
}

/*BODY---------------------------------------------------*/
/*NAV*/
nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #A80000;
}

a.link {
    color: #A80000;
    border-bottom: 2px solid transparent;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.link:hover {
    border-bottom: 2px solid #A80000;
}

.nav {
    float: right;
    margin-top: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    margin-top: 4px;
}

.logo:hover{
    color: #A80000;
}

.nav li {
    display: block;
    position: relative;
    line-height: 2em;
}

.nav li a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;
    color: inherit;
}

.nav li a::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #A80000;
}

.nav li a.active::before,
.nav li a:hover::before { width: 100%; }

/*FOOTER*/
footer{
    display: flex;
    grid-column: 1 / -1;
    grid-row: 7/8;
    background-color: #A80000;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    padding: 10px 0;
}


/*INDEX--------------------------*/
* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.column-left {
    float: left;
    width: 40%;
    padding: 10px 10px 10px 10px;
}

.column-right {
    float: left;
    width: 60%;
    padding-top: 20px;
}

.bg {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    background-image: url("../images/NQ.jpg");
    /* Parallax effect */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 50vh;
    display: table;
}

.intro {
    background-color: white;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
}

.title {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.profile_pic {
    grid-column: 2 / -2;
    grid-row: 3 / 4;
}

.profile_pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: auto;
}

.info {
    grid-column: 2 / -2;
    grid-row: 5 / 6;
}

.bio {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
}

.button{
    grid-column: 2 / -2;
    grid-row: 5 / 6;
}


/*PUBLICATIONS-------------------*/
.published {
    grid-column: 2 / -2;
}

.tutorials {
    grid-column: 2 / -2;
}

.workshops {
    grid-column: 2 / -2;
}

.reports {
    grid-column: 2 / -2;
}

.p_list {
    margin-left: 30px;
}

.p_list li{
    font-size: 12px;
    padding-bottom: 20px;
}

.p_title {
    padding-bottom: 10px;
}


/*PROJECTS-----------------------*/
#project-news{
    grid-column: 2 / 3;
    grid-row: 2/3;
}
#project-movements{
    grid-column: 2 / 3;
    grid-row: 3/4;
}
#project-networks{
    grid-column: 2 / 3;
    grid-row: 4/5;
}
#project-discussions{
    grid-column: 2 / 3;
    grid-row: 5/6;
}
#project-giving{
    grid-column: 2 / 3;
    grid-row: 6/7;
}
.project_image{
    grid-column: 2/3;
}
.projects img{
    width: 100%;
    margin-bottom: 15px;
}


/*TEACHINGS----------------------*/
.teachings-main-container{
    grid-column: 2 / -2;
    grid-row: 2 / span 1;
}

.mainline{
    grid-column: 2 / 3;
    margin-bottom: 20px;
    line-height: 40px;
}

.mainline a{
    text-decoration: underline;
}

#text-blocks {
    grid-column: 2 / 3;
    margin-bottom: 20px;
}

.text-blocks h2{
    padding-top: 15px;
}

#prospective-students {
    grid-column: 2 / -2;
    grid-row: 3 / span 1;
}

#prosp-title {
    padding-top: 50px;
}

/*TALKS--------------------------*/

#talks-title {
    grid-column: 2 / -2;
    grid-row: 2 / span 1;
}

#talks-content {
    grid-column: 2 / -2;
    grid-row: 3 / span 1;
    margin-left: 30px;
}

#talks-content li {
    padding-bottom: 20px;
    font-size: 12px;
}

/*INVOLVEMENTS-------------------*/
.involvements-main-container {
  margin-top: 10px;
  grid-column: 2 / -2;
  grid-row: 2/ span;
  /* position: relative;  */
  /* padding-top: -40%;  */
}

.involvements {
 margin-left: 30px;
}

.one {
 padding-top: 20px;
}

.indented-items{
  list-style-type: circle;
  padding-left: 4%;
}


/*TABLET SCREEN-------------------------------------------*/
@media screen and (min-width: 800px) {
    /*GLOBAL STYLES-------------------------------------------*/

    h1{
        font-size: 28px;
        color: #A80000;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    .grid{
        display: grid;
        grid-template-columns: 10% 15% 25% 25% 15% 10%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-row-gap: 50px;
    }
    /*BODY---------------------------------------------------*/
    /*NAV*/
    nav{
        grid-column: 1/-1;
        grid-row: 1/2;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    a {
        text-decoration: none;
        color: #A80000;
    }

    a.link {
        color: #A80000;
        border-bottom: 2px solid transparent;

        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    a.link:hover {
        border-bottom: 2px solid #A80000;
    }

    .nav {
        float: right;
        margin-top: 0px;
    }

    .logo {
        font-size: 24px;
        font-weight: 600;
        color: inherit;
    }

    .nav li {
        display: inline-block;
        position: relative;
        margin-right: 24px;
    }

    .nav li:last-child { margin-right: 0px; }

    .nav li a {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        position: relative;
        color: inherit;
    }

    .nav li a::before {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        bottom: -3px;
        left: 0;
        background: #A80000;

        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .nav li a.active::before,
    .nav li a:hover::before { width: 100%; }

    /*FOOTER*/


    /*INDEX--------------------------*/
    /* columns */
    * {
        box-sizing: border-box;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .column-left {
        float: left;
        width: 40%;
        padding: 20px 20px 20px 20px;
    }

    .column-right {
        float: left;
        width: 60%;
        padding-top: 30px;
    }

    .bg {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
    }

    .intro {
        background-color: white;
        grid-column: 3 / -3;
        grid-row: 3 / 4;
    }

    .title {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .profile_pic img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15vw;
        height: auto;
    }

    .bio {
        grid-column: 3 / -3;
        grid-row: 4 / 6;
    }

    .button{
        grid-column: 3 / -3;
        grid-row: 6 / 7;
    }

    /*PUBLICATIONS-------------------*/
    .published {
        grid-column: 2 / -2;
    }

    .tutorials {
        grid-column: 2 / -2;
    }

    .workshops {
        grid-column: 2 / -2;
    }

    .reports {
        grid-column: 2 / -2;
    }

    .p_list {
        margin-left: 30px;
    }

    .p_list li{
        font-size: 14px;
        padding-bottom: 20px;
    }

    .p_title {
        padding-bottom: 20px;
    }

    /*PROJECTS-----------------------*/
    #project-news{
        grid-column: 2 / 6;
        grid-row: 2/3;
    }
    #project-movements{
        grid-column: 2 / 6;
        grid-row: 3/4;
    }
    #project-networks{
        grid-column: 2 / 6;
        grid-row: 4/5;
    }
    #project-discussions{
        grid-column: 2 / 6;
        grid-row: 5/6;
    }
    #project-giving{
        grid-column: 2 / 6;
        grid-row: 6/7;
    }
    .project{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        grid-column-gap: 15px;
    }
    .project h2{
        grid-column: 1/-1;
    }
    .project_image{
        grid-column: 1/2;
    }
    .projects img{
        object-fit: cover;
        width: 100%;
        /* keeps ratio*/
        /* height: calc((100vw) * 0.40); */
        height: 100%;
    }
    .project_text{
        grid-column: 2/3;
    }

    /*TEACHINGS----------------------*/
    .teachings-main-container{
        grid-column: 2 / 6;
    }

    .mainline{
        grid-column: 2 / 3;
        margin-bottom: 20px;
        line-height: 40px;
    }

    #text-blocks {
        grid-column: 2 / 3;
        margin-bottom: 20px;
    }

    /*TALKS--------------------------*/

    #talks-title {
        grid-column: 2 / 6;
        grid-row: 2 / span 1;
    }

    #talks-content {
        grid-column: 2 / 6;
        grid-row: 3 / span 1;
        font-size: 14px;
    }

    #talks-content li {
        font-size: 14px;
    }

    /*INVOLVEMENTS-------------------*/
    .involvements-main-container {
        grid-column: 2 / 6;
        /* margin-left: 30px; */
        grid-row: 2/ span;
    }



    }  /*End the media query*/





    /*DESKTOP SCREEN-------------------------------------------*/
    @media screen and (min-width: 1200px) {
        /*GLOBAL STYLES-------------------------------------------*/
        h1{
            font-size: 32px;
            color: #A80000;
        }

        h2{
            font-size: 24px;
        }

        h3{
            font-size: 18px;
            line-height: 1.5em;
        }

        p{
            font-size: 16px;
            line-height: 1.5em;
        }

        .grid{
            display: grid;
            grid-template-columns: 10% 15% 25% 25% 15% 10%;
            grid-template-rows: auto auto auto auto auto auto auto;
            grid-row-gap: 50px;
        }

        /*BODY---------------------------------------------------*/
        /*NAV*/
        nav{
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-top: 40px;
            margin-left: 40px;
            margin-right: 40px;
        }

        a {
            text-decoration: none;
            color: #A80000;
        }

        a.link {
            color: #A80000;
            border-bottom: 2px solid transparent;

            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        a.link:hover {
            border-bottom: 2px solid #A80000;
        }

        .nav {
            float: right;
            margin-top: 0px;
        }

        .logo {
            font-size: 24px;
            font-weight: 600;
            color: inherit;
        }

        .nav li {
            display: inline-block;
            position: relative;
            margin-right: 24px;
        }

        .nav li:last-child { margin-right: 0px; }

        .nav li a {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            position: relative;
            color: inherit;
        }

        .nav li a::before {
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -3px;
            left: 0;
            background: #A80000;

            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .nav li a.active::before,
        .nav li a:hover::before { width: 100%; }

        /*FOOTER*/

        /*INDEX--------------------------*/
        /* columns */

        * {
            box-sizing: border-box;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        .column-left {
            float: left;
            width: 40%;
            padding: 30px 30px 30px 30px;
        }

        .column-right {
            float: left;
            width: 60%;
            padding-top: 40px;
        }

        .bg {
            grid-column: 1 / -1;
            grid-row: 2 / 4;
        }

        .intro {
            background-color: white;
            grid-column: 3 / -3;
            grid-row: 3 / 4;
        }

        .title {
            position: relative;
            top: 0px;
            left: 0px;
        }

        .details {
            position: relative;
            padding-top: 40px;
        }

        .profile_pic img {
            display: block;
            width: 15vw;
            height: auto;
        }

        .bio {
            grid-column: 3 / -3;
            grid-row: 4 / 6;
        }

        .button{
            grid-column: 3 / -3;
            grid-row: 6 / 7;
        }


        /*PUBLICATIONS-------------------*/

        .published {
            grid-column: 2 / -2;
        }

        .tutorials {
            grid-column: 2 / -2;
        }

        .workshops {
            grid-column: 2 / -2;
        }

        .reports {
            grid-column: 2 / -2;
        }

        .p_list {
            margin-left: 30px;
        }

        .p_list li{
            font-size: 16px;
            padding-bottom: 20px;
        }

        .p_title {
            padding-bottom: 20px;
        }

        /*PROJECTS-----------------------*/
        #project-news{
            grid-column: 2 / 6;
            grid-row: 2/3;
        }
        #project-movements{
            grid-column: 2 / 6;
            grid-row: 3/4;
        }
        #project-networks{
            grid-column: 2 / 6;
            grid-row: 4/5;
        }
        #project-discussions{
            grid-column: 2 / 6;
            grid-row: 5/6;
        }
        #project-giving{
            grid-column: 2 / 6;
            grid-row: 6/7;
        }
        .project{
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: auto;
            grid-column-gap: 15px;
        }
        .project h2{
            grid-column: 1/-1;
        }
        .project_image{
            grid-column: 1/2;
        }
        .projects img{
            object-fit: cover;
            width: 100%;
            /* keeps ratio*/
            /* height: calc((100vw) * 0.40); */
            height: 100%;
        }
        .project_text{
            grid-column: 2/3;
        }

        /*TEACHINGS----------------------*/
        .teachings-main-container{
            grid-column: 2 / 6;
        }

        /*TALKS--------------------------*/

        #talks-title {
            grid-column: 2 / 6;
            grid-row: 2 / span 1;
        }

        #talks-content {
            grid-column: 2 / 6;
            grid-row: 3 / span 1;
            /* margin-left: 30px; */
        }

        #talks-content li {
            font-size: 16px;
        }

        /*INVOLVEMENTS-------------------*/
        .involvements-main-container {
            grid-column: 2 / 6;
            /* margin-left: 30px; */
            grid-row: 2/ span;
        }




    }


    /*REDUCED MOTION-------------------------------------------*/
    @media screen and (prefers-reduced-motion: reduce){
        html{
            scroll-behavior: auto; /* Removes scroll animation */
        }

        .skip a{
            background: white;
            left: 0;
            padding: 6px;
            position: absolute;
            top: -40px;
            -webkit-transition: initial;
            transition: initial;/* Your code here - set to default setting */
            z-index: 1;
        }

        .skip a:focus{
            top:0;
        }
    }
