/*MOBILE SCREEN-------------------------------------------*/
/*GLOBAL STYLES-------------------------------------------*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 12px;
}

img{
    /* just so the image doesn't take up the whole screen for now */
    width: 200px;
}

/*SKIP*/
.skip {
    position: absolute;
    top: -40px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: relative;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 40px;
}

*:focus{
    outline: 2px solid black;
}


/*GRID*/
.grid{
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto auto auto auto auto auto auto;
}

/*BODY---------------------------------------------------*/
/*NAV*/
nav{
    grid-column: 1/-1;
    grid-row: 1/2;
}

/*FOOTER*/
footer{
    grid-column: 1 / -1;
    grid-row: 7/8;
}


/*INDEX--------------------------*/

/*PUBLICATIONS-------------------*/

/*PROJECTS-----------------------*/
#project-news{
    grid-column: 2 / 6;
    grid-row: 2/3;
}
#project-movements{
    grid-column: 2 / 6;
    grid-row: 3/4;
}
#project-networks{
    grid-column: 2 / 6;
    grid-row: 4/5;
}
#project-discussions{
    grid-column: 2 / 6;
    grid-row: 5/6;
}
#project-giving{
    grid-column: 2 / 6;
    grid-row: 6/7;
}


/*TEACHINGS----------------------*/

/*TALKS--------------------------*/

/*INVOLVEMENTS-------------------*/




/*TABLET SCREEN-------------------------------------------*/
@media screen and (min-width: 800px) {

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

	.grid{
	    display: grid;
	    grid-template-columns: 10% 10% 30% 30% 10% 10%;
	    grid-template-rows: auto auto auto auto auto auto auto;
	}

}  /*End the media query*/





/*DESKTOP SCREEN-------------------------------------------*/
@media screen and (min-width: 1200px) {
    h1{
        font-size: 32px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

	.grid{
	    display: grid;
	    grid-template-columns: 5% 90% 5%;
	    grid-template-rows: auto auto auto auto auto auto auto;
	}
}


/*REDUCED MOTION-------------------------------------------*/
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: initial;
        transition: initial;/* Your code here - set to default setting */
        z-index: 1;
    }

    .skip a:focus{
        top:0;
    }
}
